{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block body %}
    {% include('home/header.html.twig') %}

    <div class="container mt-3">
        <div class="row">
            <div class="col offset-sm-10 text-right">
                <p>Date du jour : {{ "now"|date("d M Y") }} </p>
                <p>Participant : {{ app.user.prenom }} {{ app.user.nom }}</p>
            </div>
        </div>
        <div class="row">
            <h4>Filtrer les sorties</h4>
            <div class="col-5 form-group">
                <label>Campus</label>
                <select class="form-control">
                </select>
                <br />
                <label>Le nom de la sortie contient</label>
                <input class="form-control" type="search" />
                <br />
                <div class="row">Entre &nbsp;
                    <input class="col form-control w-25" type="date" />
                    &nbsp; et &nbsp;
                    <input class="col form-control w-25" type="date" />
                </div>
            </div>
            <div class="col-5"></div>
            <div class="col-2">
                <button class="btnApp">Rechercher</button>
            </div>
        </div>
        <div class="row mt-5">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Nom de la sortie</th>
                        <th>Date de la sortie</th>
                        <th>Clôture</th>
                        <th>Nombre de places</th>
                        <th>Etat</th>
                        <th>Inscrit</th>
                        <th>Organisateur</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sortie in sorties %}
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut|date('d/m/Y h:m') }}</td>
                        <td>{{ sortie.dateLimiteInscription|date('d/m/Y h:m') }}</td>
                        <td>{{ sortie.nbInscriptionsMax }}</td>
                        <td>{{ sortie.etat.libelle }}</td>
                        <td class="text-center">
                            {% set inscrit = false %}
                            {% for participant in sortie.participant %}
                                {% if participant == app.user %}
                                    <span>x</span>
                                    {% set inscrit = true %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }}</td>
                        <td>
                            <a href="{{ path('app_sortie_show', {id: sortie.id}) }}">Afficher</a>
                            {% if sortie.organisateur == app.user %}
                                <a href="{{ path('app_sortie_edit', {id: sortie.id}) }}">Modifier</a>
                            {% endif %}
                            {% if inscrit %}
                                <a href="{{ path('app_sortie_removeParticipant', {id: sortie.id}) }}">Se désister</a>
                            {% else %}
                                <a href="{{ path('app_sortie_addParticipant', {id: sortie.id}) }}">S'inscrire</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('app_sortie_create', {id: app.user.id}) }}">
                <button class="btnApp mb-4">
                    Créer une sortie
                </button>
            </a>
        </div>
    </div>
{% endblock %}
